# PostgreSQL database URL
DATABASE_URL="postgresql://username:password@host:port/database"

# Secret key for JWT auth
JWT_SECRET="generate-some-random-secret-key"

# Telegram Bot configurations
TELEGRAM_BOT_TOKEN="your-telegram-bot-token"
TELEGRAM_CHAT_ID="your-telegram-chat-or-channel-id"
